@{
    ViewData["Title"] = "Liv's Hobby";
}

<div class="index-body text-center">
    <h1 class="display-4">Google Snake Game</h1>
    
    @* Intro *@
    <p>One of my hobbies (a small side hobby really) is the snake game on Google. I don't remember when I was first introduced to this game. However, it has been at least several years since I first learned about it and I still quite enjoy it. I enjoy mindless games such as this one.</p>
    <img style="height: 400px;" src="img/IMG_7625.jpg"/>
    <br/>
    <br/>
    
    <h3>How to play</h3>
    <p>To get to the game, you simply search 'snake' on the Google search engine. The goal is to collect food while avoiding walls and your own tail as the snake grows longer.</p>
    <img style="height: 400px;" src="img/Screenshot 2026-02-02 at 10.27.48 AM.png"/>
    <br/>
    <br/>
    
    <h3>My High Score</h3>
    <p>The highest score possible, according to the internet, is 252. My high score on this game is 234. I achieved this score during finals week last semester in the BYU library. I haven’t beaten it yet, but I’m determined to someday.</p>
    <img style="height: 400px;" src="img/Screenshot 2025-12-11 at 8.36.14 PM.PNG"/>
</div>